<div id="contact" class="section row">
  <div id="contact-cover" class="section-cover"></div>
  <h1 class="text-center">Contact Info</h1>
  <div class="col-sm-4 col-sm-offset-4 text-center">
    <dl>
      <dt><%= @wedding.bride['name'] %></dt>
      <dd><%= @wedding.bride['email'] %><br>
      <abbr title="Phone">P:</abbr> <%= @wedding.bride['phone'] %></dd><br>
      <dt><%= @wedding.groom['name'] %></dt>
      <dd><%= @wedding.groom['email'] %><br>
      <abbr title="Phone">P:</abbr> <%= @wedding.groom['phone'] %></dd><br>
    </dl>
  </div>
</div>
