<div id="more-info" class="section row">
  <h1 class="text-center">Wedding Info</h1>
  <div class="col-sm-3 col-sm-offset-3 col-md-2 col-md-offset-4">
    <dl>
      <dt>Date</dt>
      <dd><%= wedding.date %></dd>
      <dt>Time</dt>
      <dd><%= wedding.time %></dd>
    </dl>
  </div>
  <div class="col-sm-3 col-md-2">
    <dl>
      <dt>Ceremony and Reception</dt>
      <dd>
        <address>
          <%= wedding.location['name'] %><br>
          <%= wedding.location['street'] %><br>
          <%= wedding.city_and_state %> <%= wedding.location['zip'] %>
        </address>
      </dd>
    </dl>
  </div>
  <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <dl>
      <% wedding.more_info_items.each do |item| %>
        <dt><%= item['title'] %></dt>
        <dd><%= item['text'].html_safe %></dd>
      <% end %>
    </dl>
  </div>
</div>
