<div id="carousel-our-story" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% wedding.photo_slider.each_with_index do |slide, index| %>
      <li data-target="#carousel-our-story" data-slide-to=<%= "#{index}" %><%= "class='active'" if index == 0 %>></li>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <% wedding.photo_slider.each_with_index do |slide, index| %>
      <div class="item <%= 'active' if index == 0 %>">
        <%= image_tag(slide['img']) %>
        <div class="carousel-caption">
          <p><%= slide['caption'] %></p>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control">
    <span class="glyphicon glyphicon-chevron-left" href="#"></span>
  </a>
  <a class="right carousel-control">
    <span class="glyphicon glyphicon-chevron-right" href="#"></span>
  </a>
</div> <!-- Carousel -->

<script>
$('.carousel').carousel({
  interval: false
})
$('.carousel-control.left').click(function() {
  $('#carousel-our-story').carousel('prev');
});

$('.carousel-control.right').click(function() {
  $('#carousel-our-story').carousel('next');
});
</script>
