<div id="our-story" class="section row">
  <h1 class="text-center">Our Story</h1>

    <div class="col-sm-4 col-sm-offset-2 bio">
      <%= image_tag(wedding.bride['img'], class: "img-responsive img-rounded", alt: wedding.bride['name']) %>
      <h3><%= wedding.bride['name'] %></h3>
      <%= wedding.bride['bio'].html_safe %>
    </div>

    <div class="col-sm-4 bio">
      <%= image_tag(wedding.groom['img'], class: "img-responsive img-rounded", alt: wedding.groom['name']) %>
      <h3><%= wedding.groom['name'] %></h3>
      <%= wedding.groom['bio'].html_safe %>
    </div>

    <div class="col-sm-8 col-sm-offset-2 bio">
      <% if not mobile? %>
        <%= render 'our_story_photos' %>
      <% end %>
      <h3><%= wedding.relationship['title'] %></h3>
      <%= wedding.relationship['bio'].html_safe %>
    </div>

</div>
