<div id="wedding-party" class="section row">
  <div id="wedding-party-cover" class="section-cover"></div>
  <h1 class="text-center">Wedding Party</h1>

  <div class="col-sm-5 col-sm-offset-1 bio-container">
    <div class="media party-left">
      <div class="media-body media-middle text-right">
        <h4 class="media-heading">Ashley Champlin</h4>
        Maid of Honor
      </div>
      <div class="media-right">
        <%= image_tag("ashleychamplin.jpg", class: "media-object img-circle bio-image",
                      data: { toggle: "popover", placement: "bottom",
                              content: "Ashley is the bride’s younger sister and a fourth grade teacher.  She graduated from Plymouth State University in NH where she majored in Elementary Education and beirut.  Ashley is currently working on her Master’s degree at Bridgewater State University. Ashley is an accomplished athlete who has completed several marathons and Half Ironmans.  She is a vegan and animal lover and Mom to a crazy coonhound named Charlie.  Ashley and Becky are only fourteen months apart in age and have been best friends their entire lives." }) %>
      </div>
    </div>
    <div class="media party-left">
      <div class="media-body media-middle text-right">
        <h4 class="media-heading">Michaela Champlin</h4>
        Maid of Honor
      </div>
      <div class="media-right">
        <%= image_tag("michaelachamplin.jpg", class: "media-object img-circle bio-image",
                      data: { toggle: "popover", placement: "bottom",
                              content: "Michaela is the bride’s baby sister.  She has a Master’s degree in Elementary Education from the University of New Hampshire and teaches fifth grade at an inner-city school in Manchester.  Nick refers to Michaela as the nicest, friendliest person you will ever meet.  Michaela played basketball in high school and currently coaches basketball. She is a marathon runner and has completed the Timberman Half Ironman." }) %>
      </div>
    </div>
    <div class="media party-left">
      <div class="media-body media-middle text-right">
        <h4 class="media-heading">Lauren Whatmough</h4>
        Bridesmaid
      </div>
      <div class="media-right">
        <%= image_tag("laurenwhatmough2.jpg", class: "media-object img-circle bio-image",
                      data: { toggle: "popover", placement: "bottom",
                              content: "Lauren is a cousin of the bride who has always been more like a sister.  Since Lauren is an only child she spent much of her childhood with Becky and Ashley.  Lauren did her undergraduate studies at the University of Delaware and has a law degree from Roger Williams University. She works for FM Global in Johnston, RI.  She married the love of her life, James, in Jamaica in 2011.  Lauren and James are the proud parents of two wonderful cats; Fiona and Emily." }) %>
      </div>
    </div>
    <div class="media party-left">
      <div class="media-body media-middle text-right">
        <h4 class="media-heading">Taylor Nunez</h4>
        Bridesmaid
      </div>
      <div class="media-right">
        <%= image_tag("taylornunez.jpg", class: "media-object img-circle bio-image",
                      data: { toggle: "popover", placement: "bottom",
                              content: "Taylor is a good friend of the bride and the groom.  Taylor is Mike Murray’s better half and when Becky and Nick first started dating, Taylor was so friendly and inviting and made Becky feel welcome in the crew of Nick’s Worcester friends.  Taylor graduated from Assumption College and is a writer, a teacher, and probably a lot of other things that Becky can’t keep track of.  Taylor is a great Mom to the cutest Boston Terrier you will ever meet, Duncan. Taylor is a very active, health conscious person who has completed several road races and practiced yoga for many years. Becky always thinks of Taylor as one of the most fashionable people she knows and will be relying on her style advice for the wedding. She also has probably the most gorgeous hair you will ever see." }) %>
      </div>
    </div>
    <div class="media party-left">
      <div class="media-body media-middle text-right">
        <h4 class="media-heading">Laura Patterson</h4>
        Bridesmaid
      </div>
      <div class="media-right">
        <%= image_tag("laurapatterson.jpg", class: "media-object img-circle bio-image",
                      data: { toggle: "popover", placement: "bottom",
                              content: "Laura is the bride’s best friend.  The two randomly met on a RIPTA bus when they both commuted to jobs in downtown Providence.  A lot has changed since then but Laura is one of Becky’s most trusted confidantes who has talked Becky out of many a meltdown and bad decision.  Laura graduated from Gibbs College in Boston and works in Creative Operations for CVS.  Laura loves pugs and us the Mom to a super cute black pug named Maggie. Laura is an invaluable resource for Becky with wedding planning because she is extremely creative and talented in all aspects of design." }) %>
      </div>
    </div>
    <div class="media party-left">
      <div class="media-body media-middle text-right">
        <h4 class="media-heading">Heather Lillibridge</h4>
        Bridesmaid
      </div>
      <div class="media-right">
        <%= image_tag("heatherlillibridge2.jpg", class: "media-object img-circle bio-image",
                      data: { toggle: "popover", placement: "bottom",
                              content: "Heather is a cousin of the bride and also one of Becky’s closest friends.  Heather is a Pediatric Nurse in RI and the Mom to two grown boys, Zachary and Brandon.  Heather is one of the founding members of Team VAG (Vegan Athletic Girls) and has completed several marathons with Becky and Ashley, and several marathons on her own.  She is also the only member of Team VAG who has completed an ultramarathon.  Heather lives in southern RI with her husband Randall, who is an awesome guy and someone that Nick and Becky love hanging out with." }) %>
      </div>
    </div>
    <div class="media party-left">
      <div class="media-body media-middle text-right">
        <h4 class="media-heading">Melissa DelRossi</h4>
        Bridesmaid
      </div>
      <div class="media-right">
        <%= image_tag("melissadelrossi.jpg", class: "media-object img-circle bio-image",
                      data: { toggle: "popover", placement: "bottom",
                              content: "Melissa is the groom’s sister-in-law and basically the best sister-in-law that exists.  She met her husband, Nick’s brother, at Westfield State College and then got her Doctorate in Physical Therapy at the University of Massachusetts.  Becky cannot believe her luck that she has a Physical Therapist for a sister-in-law. In the three years that they have known each other Melissa has already fixed several of Becky’s running injuries.  Melissa is the Mom to the cutest kids in the entire world, Evan and Anna. Melissa is an accomplished marathoner and once beat Becky in a road race even though Melissa was pushing her two children in a jogging stroller." }) %>
      </div>
    </div>
  </div>
  <div class="col-sm-5 bio-container">
    <div class="media">
      <div class="media-left party-right">
        <%= image_tag("mikedelrossi.jpg", class: "media-object img-circle bio-image",
                      data: { toggle: "popover", placement: "bottom",
                              content: "Mike is the groom’s older brother. They have a strong relationship despite spending the first 15 years of their lives constantly engaged in brotherly fighting. Mike is married to bridesmaid Melissa and has two great kids named Evan and Anna. Before he had children Mike enjoyed cycling, snowboarding, and sleeping. Nick was the co best man at Mike’s wedding and might have said a few possibly derogatory remarks about Mike in his speech. Is revenge coming?" }) %>
      </div>
      <div class="media-body media-middle">
        <h4 class="media-heading">Mike DelRossi</h4>
        Best Man
      </div>
    </div>
    <div class="media">
      <div class="media-left party-right">
        <%= image_tag("mikemurray.jpg", class: "media-object img-circle bio-image",
                      data: { toggle: "popover", placement: "bottom",
                              content: "Mike and the groom began their relationship as bitter enemies, arguing over which server tool groomsman Michael Brunell should use to connect to the computer game Counter-Strike. Eventually they were able to form a mutual respect for each other and became friends. Mike and the groom ended up living together in two locations in Worcester. He is dating bridesmaid Taylor and together they are parents to an unsightly dog-child named named Duncan. Mike will also be marrying Becky and Nick." }) %>
      </div>
      <div class="media-body media-middle">
        <h4 class="media-heading">Mike Murray</h4>
        Groomsman<br>
        Justice of the Peace
      </div>
    </div>
    <div class="media party-right">
      <div class="media-left">
        <%= image_tag("andyparmenter.jpg", class: "media-object img-circle bio-image",
                      data: { toggle: "popover", placement: "bottom",
                              content: "Andy and the groom met while working at Papa Ginos around 2003. Nick was tasked with the job of training Andy on how to make food which was a disaster for the store because Nick did not care about training and Andy had no desire to learn. This mutual apathy for their jobs led to a strong friendship and also a financial loss for Papa Ginos. Andy and Nick share an interest in music, 90s computer games, and unsafe ocean conditions." }) %>
      </div>
      <div class="media-body media-middle">
        <h4 class="media-heading">Andy Parmenter</h4>
        Groomsman
      </div>
    </div>
    <div class="media party-right">
      <div class="media-left">
        <%= image_tag("brianlauritsen.jpg", class: "media-object img-circle bio-image",
                      data: { toggle: "popover", placement: "bottom",
                              content: "Brian and the groom met as dorm neighbors at Worcester State College. They did not even realize they were neighbors for months and it wasn’t until social situations were forced on them that they had any interaction. However, soon after meeting they realized that they shared both a passion and a complete lack of talent for playing guitar. This resulted in a great friendship and a decade long attempt by both to become rock stars. They remain great friends today but unfortunately they still don’t have any talent for playing guitar." }) %>
      </div>
      <div class="media-body media-middle">
        <h4 class="media-heading">Brian Lauritsen</h4>
        Groomsman
      </div>
    </div>
    <div class="media party-right">
      <div class="media-left">
        <%= image_tag("joecarbeau.jpg", class: "media-object img-circle bio-image",
                      data: { toggle: "popover", placement: "bottom",
                              content: "Joe grew up two houses down from the groom in Burlington, MA. They met when Nick was three years old and have been great friends ever since. Joe and the groom spent their teenage years playing basketball and eating big meals. Rumor has it Joe can still easily dunk a basketball. He is also a gentleman-scholar and a world-renowned expert on 1990s boy bands." }) %>
      </div>
      <div class="media-body media-middle">
        <h4 class="media-heading">Joe Carbeau</h4>
        Groomsman
      </div>
    </div>
    <div class="media party-right">
      <div class="media-left">
        <%= image_tag("michaelbrunell.jpg", id: "dickie", class: "media-object img-circle bio-image") %>
        <%= image_tag("michaelbrunell-hidden.jpg", id: "dickie-hidden", class: "media-object img-circle bio-image",
                      data: { toggle: "popover", placement: "bottom",
                              content: "Michael \“Dickie\” Brunell and the groom met while working at Papa Ginos in Worcester over a decade ago. Nick knew instantly after Dickie was hired that they would become great friends but convincing Dickie of that took weeks of negotiations. Eventually both sides were able to agree to the contract terms and the famous friendship deal pictured above was struck. The deal is set to expire a month before the wedding but hopefully both sides can agree on a contract extension." }) %>
      </div>
      <div class="media-body media-middle">
        <h4 class="media-heading">Michael Brunell</h4>
        Groomsman
      </div>
    </div>
    <div class="media party-right">
      <div class="media-left">
        <%= image_tag("yavuzkiremit.jpg", class: "media-object img-circle bio-image",
                      data: { toggle: "popover", placement: "bottom",
                              content: "The groom met Yavuz through mutual friend and groomsman Michael Brunell. He loves fast cars and video games but dislikes chicken and water. Yavuz is a Turkish prince and has dominion over a great number of provinces in his home country. He will be wearing a traditional Turkic bashlyk during the wedding ceremony. Please pronounce his name correctly or he will get extremely angry." }) %>
      </div>
      <div class="media-body media-middle">
        <h4 class="media-heading">Yavuz Kiremit</h4>
        Groomsman
      </div>
    </div>
  </div>
</div>

<script>

$(function () {
  $('#dickie').hover( function () {
    $(this).hide();
    $('#dickie-hidden').show();
  });
});
$(function () {
  $('#dickie-hidden').mouseout( function () {
    $(this).hide();
    $('#dickie').show();
  });
});
$(function () {
  $('[data-toggle="popover"]').popover({
    container: 'body',
    html: true
  });
});
$(function () {
  $('.bio-image').hover( function () {
    $( this ).popover('show');
  }, function() {
    $( this ).popover('hide');
  });
});
</script>
