<div id="wedding-party" class="section row">
  <div id="wedding-party-cover"></div>
  <h1 class="text-center">Wedding Party</h1>

  <div class="col-sm-5 col-sm-offset-1">
    <div class="media party-left">
      <div class="media-body media-middle text-right">
        <h4 class="media-heading">Ashley Champlin</h4>
        Maid of Honor
      </div>
      <div class="media-right">
        <%= image_tag("ashleychamplin.jpg", class: "media-object img-circle") %>
      </div>
    </div>
    <div class="media party-left">
      <div class="media-body media-middle text-right">
        <h4 class="media-heading">Michaela Champlin</h4>
        Maid of Honor
      </div>
      <div class="media-right">
        <%= image_tag("michaelachamplin.jpg", class: "media-object img-circle") %>
      </div>
    </div>
    <div class="media party-left">
      <div class="media-body media-middle text-right">
        <h4 class="media-heading">Lauren Whatmough</h4>
        Bridesmaid
      </div>
      <div class="media-right">
        <%= image_tag("laurenwhatmough.jpg", class: "media-object img-circle") %>
      </div>
    </div>
    <div class="media party-left">
      <div class="media-body media-middle text-right">
        <h4 class="media-heading">Taylor Nunez</h4>
        Bridesmaid
      </div>
      <div class="media-right">
        <%= image_tag("taylornunez.jpg", class: "media-object img-circle") %>
      </div>
    </div>
    <div class="media party-left">
      <div class="media-body media-middle text-right">
        <h4 class="media-heading">Laura Patterson</h4>
        Bridesmaid
      </div>
      <div class="media-right">
        <%= image_tag("laurapatterson.jpg", class: "media-object img-circle") %>
      </div>
    </div>
    <div class="media party-left">
      <div class="media-body media-middle text-right">
        <h4 class="media-heading">Heather Lillibridge</h4>
        Bridesmaid
      </div>
      <div class="media-right">
        <%= image_tag("heatherlillibridge.jpg", class: "media-object img-circle") %>
      </div>
    </div>
    <div class="media party-left">
      <div class="media-body media-middle text-right">
        <h4 class="media-heading">Melissa DelRossi</h4>
        Bridesmaid
      </div>
      <div class="media-right">
        <%= image_tag("melissadelrossi.jpg", class: "media-object img-circle") %>
      </div>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="media">
      <div class="media-left party-right">
        <%= image_tag("mikedelrossi.jpg", class: "media-object img-circle") %>
      </div>
      <div class="media-body media-middle">
        <h4 class="media-heading">Mike DelRossi</h4>
        Best Man
      </div>
    </div>
    <div class="media">
      <div class="media-left party-right">
        <%= image_tag("mikemurray.jpg", class: "media-object img-circle") %>
      </div>
      <div class="media-body media-middle">
        <h4 class="media-heading">Mike Murray</h4>
        Groomsman
      </div>
    </div>
    <div class="media party-right">
      <div class="media-left">
        <%= image_tag("andyparmenter.jpg", class: "media-object img-circle") %>
      </div>
      <div class="media-body media-middle">
        <h4 class="media-heading">Andy Parmenter</h4>
        Groomsman
      </div>
    </div>
    <div class="media party-right">
      <div class="media-left">
        <%= image_tag("brianlauritsen.jpg", class: "media-object img-circle") %>
      </div>
      <div class="media-body media-middle">
        <h4 class="media-heading">Brian Lauritsen</h4>
        Groomsman
      </div>
    </div>
    <div class="media party-right">
      <div class="media-left">
        <%= image_tag("joecarbeau.jpg", class: "media-object img-circle") %>
      </div>
      <div class="media-body media-middle">
        <h4 class="media-heading">Joe Carbeau</h4>
        Groomsman
      </div>
    </div>
    <div class="media party-right">
      <div class="media-left">
        <%= image_tag("michaelbrunell.jpg", class: "media-object img-circle") %>
      </div>
      <div class="media-body media-middle">
        <h4 class="media-heading">Michael Brunell</h4>
        Groomsman
      </div>
    </div>
    <div class="media party-right">
      <div class="media-left">
        <%= image_tag("yavuzkiremit.jpg", class: "media-object img-circle") %>
      </div>
      <div class="media-body media-middle">
        <h4 class="media-heading">Yavuz Kiremit</h4>
        Groomsman
      </div>
    </div>
  </div>
</div>
