<div id="wedding-party" class="section row">
  <div id="wedding-party-cover" class="section-cover"></div>
  <h1 class="text-center">Wedding Party</h1>

  <div class="col-sm-5 col-sm-offset-1 bio-container">
    <% wedding.bridesmaids.each do |bridesmaid| %>
      <div class="media party-left">
        <div class="media-body media-middle text-right">
          <h4 class="media-heading"><%= bridesmaid['name'] %></h4>
          <%= bridesmaid['title'] %>
        </div>
        <div class="media-right">
          <%= image_tag(bridesmaid['img'], class: "media-object img-circle bio-image",
                        data: { toggle: "popover", placement: "bottom",
                                content: bridesmaid['bio'] }) %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-sm-5 bio-container">
    <% wedding.groomsmen.each do |groomsman| %>
      <div class="media">
        <div class="media-left party-right">
          <%= image_tag(groomsman['img'], class: "media-object img-circle bio-image", id: groomsman['name'].delete(' '),
                        data: { toggle: "popover", placement: "bottom",
                                content: groomsman['bio'] }) %>
          <% if groomsman['name'] == "Michael Brunell" %>
            <%= image_tag(groomsman['img_hidden'], id: "dickie-hidden", class: "media-object img-circle bio-image",
                          data: { toggle: "popover", placement: "bottom",
                                  content: groomsman['bio_hidden'] }) %>
          <% end %>
        </div>
        <div class="media-body media-middle">
          <h4 class="media-heading"><%= groomsman['name'] %></h4>
          <%= groomsman['title'].html_safe %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
$('#MichaelBrunell').hover( function () {
  $(this).hide();
  $('#dickie-hidden').show();
});
$('#dickie-hidden').mouseout( function () {
  $(this).hide();
  $('#MichaelBrunell').show();
});
$('[data-toggle="popover"]').popover({
  container: 'body',
  html: true,
  trigger: 'hover click'
});
</script>
