<div class="cover">
  <div id="welcome-text">
    <h4>Becky & Nick</h4>
    <p>
      October 17, 2015 · Lincoln, MA
    </p>
  </div>
</div>

<%= render 'our_story' %>
<%= render 'wedding_info' %>
<%= render 'more_info' %>
<%= render 'wedding_party' %>
<%= render 'accommodations' %>
<%= render 'gifts' %>
<%= render 'contact' %>


<script>
$('a').click(function() {
  $('html, body').animate( {
    scrollTop: $( $.attr(this, 'href') ).offset().top - 39
  }, 600);
  return false;
});

$(window).resize(function() {
        $('.cover').height($(window).height());
        }).resize();
</script>
